body {
    padding: 0;
    background-color: #849d8f;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: white;
}

.visually-hidden {
    display: none;
}

.container {
    padding-left: 27px;
    padding-right: 27px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

/*Стандартная оранжевая кнопка*/
.btn-orange {
    width: 189px;
    height: 46px;
    color: white;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
    text-align: center;
}

.btn-orange:hover,
.btn-orange:focus {
    outline: 0;
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px #ac1000;
}

.btn-orange:active {
    box-shadow: inset 0 2px 2px #ac1000;
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}

/* HEADER */

.header-line {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 10px;
}

/*Все акт. элементы строки*/
.menu-nav {
    display: flex;
    align-items: baseline;
    margin: 0;
    box-sizing: content-box; /* Думаю так*/
    padding-top: 0px;
}

.menu-nav li {
    list-style: none;
}

.menu-nav a {
    color: inherit;
}

/*Три ссылки*/
.menu-list {
    display: flex;
    justify-content: space-between;
    align-self: center;
    min-width: 352px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    box-sizing: content-box;
    padding-left: 40px;
    margin: 0;
}

.menu-list a {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*Белая кнопка ссылки*/
.catalog:hover,
.catalog:focus {
    display: block;
    color: black;
    background-color: white;
    box-sizing: border-box;
    padding: 7px 14px 7px 12px;
    width: 87px;
    height: 32px;
    border-radius: 15px;
}

.catalog:hover a,
.catalog:focus a {
    text-decoration: none;
}

/* Описание выпадающего меню:*/
.menu-sub-list {
    display: none;
    position: absolute;
    color: black;
    background-color: #f8f7f4;
    padding-left: 0;
    margin-top: 17px;
    height: 174px;
    width: 143px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

.menu-sub-list a {
    text-decoration: none;
}

.catalog:hover .menu-sub-list,
.catalog:focus .menu-sub-list {
    display: block;
}

.menu-sub-list li {
    box-sizing: border-box;
    padding: 7px 0px 7px 21px;
    height: 33px; /* По макету 28*/
    font-size: 14px;
    line-height: 16px;
}

.menu-sub-list li:first-child {
    border-bottom: 1px solid #d1d0ce;
    font-weight: bold;
    height: 40px; /* По макету 38*/
    padding: 11px 0px 11px 21px;
}

.menu-sub-list li:hover,
.menu-sub-list li:focus {
    background-color: #fbded7;
}

.menu-sub-list li:active {
    background-color: #f6b5a5;
}

/*Три кнопки*/
.modal-search,
.modal-cart {
    display: none;
}

.menu-forms {
    display: flex;
    align-self: center;
    margin: 0;
    margin-left: 303px;
    min-width: 245px;
}

.menu-forms li {
    margin-left: 10px;
    padding-right: 0;
}
/*Поиск*/
.btn-search {
    height: 32px;
    width: 32px;
    border: 0px solid transparent;
    border-radius: 50%;
    background-image: url("../img/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
    background-color: white;
}

.btn-search:active .modal-search {
    display: block;
}

.modal-search {
    width: 343px;
    height: 84px;
    box-sizing: border-box;
    position: absolute;
    right: 495px;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 7px;
}

.modal-search input {
    width: 310px;
    height: 44px;
    border: 1px solid #b8b8b8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;
    color: #b8b8b8;
    font-size: 14px;
    line-height: 24px;
}

/*Вход*/
.btn-login {
    color: white;
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    width: 92px;
    border: none;
    border-radius: 15px;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.btn-login span {
    position: relative;
    bottom: 5px;
}

.btn-login::before {
    content: url("../img/enter.png");
    margin-right: 9px;
}

.btn-login:hover,
.btn-login:focus {
    background-color: white;
    color: black;
}

.modal-login {
    width: 280px;
    height: 214px;
    box-sizing: border-box;
    position: absolute;
    right: 165px;
    margin-top: 5px;
    padding: 20px;
    background-color: #f8f7f4;
    border-radius: 7px;
}

.modal-login input {
    width: 240px;
    height: 44px;
    border: 1px solid #b8b8b8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 19px 16px 19px;
    color: #b8b8b8;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}

.login-active {
    display: flex;
    justify-content: space-between;
    width: 242px;
    color: black;
    font-size: 14px;
    line-height: 24px;
}

.login-active ul {
    padding: 0;
    margin: 0;
}

.login-active button {
    width: 100px;
    height: 44px;
}

/*Корзина*/
.btn-cart {
    height: 32px;
    width: 100px;
    font-size: 14px;
    line-height: 16px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.btn-cart::before {
    content: url("../img/cart.png");
    height: 23px;
    width: 23px;
    margin-right: 6px;
}

.btn-cart span {
    position: relative;
    bottom: 5px;
}

.btn-cart:hover,
.btn-cart:focus {
    background-color: white;
    color: black;
}

/*Время работы*/
.schedule {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.schedule a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

/* MAIN */

/* CARDS-BONUS */

.cards-bonus .card {
    border: 0 solid transparent;
    border-radius: 20px;
    height: 230px;
    width: 560px;
    padding: 24px 29px 24px 20px;
    font-size: 18px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 560px 230px;
    box-sizing: border-box;
    background-color: #d35376;
}

.cards-bonus .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card h2 {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 21px;
}

.card p {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 25px;
}

.cards-bonus .btn-orange {
    margin-left: 323px;
}

.card-one {
    background-image: url("../img/rasp_back.jpg");
}

.card-two {
    background-image: url("../img/choc_back.jpg");
}

/* ICECREAM SORTS */

.icecream-sorts {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.icecream-sorts-item {
    list-style: none;
    height: 406px;
    width: 294px;
    text-align: center;
}

.icecream-sorts-item img {
    border-radius: 50%;
    background-color: #feebc9;
    background-position: center;
    margin-top: 7px;
}

.icecream-sorts-item .hit {
    border-radius: 50%;
    height: 63px;
    width: 63px;
    position: relative;
    bottom: 277px;
    left: 14px;
}

.price {
    display: inline;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: relative;
    bottom: 120px;
    right: 50px;
}

.min-font {
    font-size: 30px;
    font-weight: 700;
}

.underline {
    line-height: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5px;
    position: relative;
    bottom: 120px;
}

.icecream-sorts-item .btn-orange {
    display: none;
}

.icecream-sorts-item:hover .btn-orange {
    display: block;
    position: relative;
    bottom: 125px;
    left: 50px;
}

.icecream-sorts-item:hover,
.icecream-sorts-item:focus {
    background-color: rgba(255, 255, 255, 0.3);
    height: 406px;
    width: 294px;
    border-radius: 5px;
}

/* DESCRIPTION */
.description {
    min-height: 306px;
    margin-top: 42px;
    box-sizing: border-box;
    padding: 30px 32px 30px 21px;
    border-radius: 20px;
    background-image: url("../img/wayfer_back.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: #ffe7e1;
    color: black;
}

.description h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.about-us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.about-us p {
    flex-wrap: wrap;
    margin: 0;
    margin-top: 11px;
    line-height: 22px;
    max-width: 541px;
    min-height: 81px;
}

.about-us p:first-child:before {
    content: url("../img/ici.png");
    width: 48px;
    height: 48px;
}

.about-us p:nth-child(2):before {
    content: url("../img/leaf.png");
    width: 48px;
    height: 48px;
}

.about-us p:nth-child(3)::before {
    content: url("../img/cow.png");
    width: 48px;
    height: 48px;
}

.about-us p:last-child:before {
    content: url("../img/term.png");
    width: 48px;
    height: 48px;
}

/*Две карточки*/

.additional-cards .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.news-card,
.subscribe-card {
    border-radius: 20px;
    height: 219px;
    width: 560px;
    box-sizing: border-box;
    color: black;
}

.news-card {
    padding: 30px 250px 50px 20px;
    background-image: url("../img/straw_back.jpg");
    background-color: white;
}

.news-card h2 {
    margin: 0;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 22px;
}

.news-card p {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.news-card a {
    color: black;
}

.subscribe-card {
    padding: 6px;
    background-image: url("../img/post_back.jpg");
    background-position: center;
    background-color: whitesmoke;
}

.subscribe-card .face-color {
    background-color: #f8f7f4;
    background-position: center;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 34px 19px 0px 21px;
}

.subscribe-card p {
    margin: 0;
    line-height: 22px;
}

.subscribe-card input {
    border: 0px solid #d3d3d2;
    border-radius: 5px;
    width: 315px;
    height: 20px;
    font-size: 16px;
    padding: 11px;
}

.subscribe-card .btn-orange {
    box-sizing: border-box;
    margin-left: 14px;
}

.subscribe-card-action {
    display: flex;
    align-items: center; /* Для разнообразия*/
    height: 105px;

    /* Жёсткое позиционирование:
    margin-top: 43px;
    margin-bottom: 32px;
*/
}

/* Карта */
.map {
    background-image: url("../img/map.png");
    margin: 40px auto 0;
    height: 429px;
    width: 1200px;
}

/* FOOTER */
.footer-line {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 30px;
    min-height: 55px;
}

.main-footer li {
    list-style: none;
}
/* Иконки соц. сетей*/
.social-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: 28px;
    padding: 0;
    min-width: 186px;
    min-height: 38px;
}

.social-list li {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    background-position: center;
    cursor: pointer;
}

.social-list li:hover,
.social-list li:focus {
    background-color: white;
}

.twitter {
    background-image: url("../img/twitter.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
}

.inst {
    background-image: url("../img/inst.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
}

.fb {
    background-image: url("../img/fb.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
}

.vk {
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
}

/*Ссылки в центре*/
.info-list {
    margin: 0;
    padding: 0;
    max-width: 312px;
    min-height: 44px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.info-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    min-width: 111px;
}

.info-list li:nth-child(2n) {
    margin-left: 30px;
}

.info-list a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 18px;
}

.suppliers {
    font-weight: bold;
}

/*Логотип*/
.footer-logo {
    height: 61px;
    width: 191px;
}

.footer-logo a {
    text-decoration: none;
}

.html-font {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-logo p {
    margin-top: 3px;
    font-size: 12px;
    line-height: 18px;
}

/* -------CATALOG-------  */

.sub-navigation-list {
    display: flex;
    padding: 0;
    list-style: none;
}

.sub-navigation-list li {
    margin-left: 20px;
}

.sub-navigation-list a {
    color: white;
    text-decoration: none;
}

.br-underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*Фильтры*/

.filters li {
    list-style: none;
}

.filters .container {
    margin-top: 33px;
    max-width: 1200px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
}

.filters legend {
    margin-left: 17px;
    margin-bottom: 3px;
    font-size: 14px;
    font-family: inherit;
    color: white;
}
/*Сортировка*/
.filters .sort-field {
    border: none;
    width: 193px;
}

.sort-view select {
    padding-left: 16px;
    color: white;
    font-family: inherit;
    font-size: 16px;
    height: 37px;
    width: 193px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}
/*Фильтр стоимости*/
.price-volume {
    width: 219px;
    height: 57px;
}
/*Жирность*/
.fat-field {
    border: none;
    max-width: 417px;
}

.fat-radio-list {
    font-size: 16x;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 37px;
    width: 417px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 9px 15px 7px 15px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 18px;
}

/*Наполнители*/
.filters .fill-field {
    border: none;
    max-width: 707px;
}

.filling-checkbox-list {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    padding: 7px 15px 7px;
    border-radius: 30px;
    margin: 0;
    box-sizing: border-box;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3);
}

.filling-checkbox-list li:not(.first) {
    margin-left: 20px;
}

/*Кнопка применить*/
.btn-filter {
    align-self: flex-end;
    position: relative;
    bottom: 10px;
    color: white;
    width: 144px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: inherit;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px auto 13px;
}

.btn-filter:hover,
.btn-filter:focus {
    color: black;
    background-color: white;
}

.btn-filter:active {
    border: none;
    box-shadow: inset 0 1px 2px #8a8b8a;
}

/* Список мороженого */

.icecream-menu-list {
    padding: 0;
    box-sizing: border-box;
    min-width: 1200px; /*Не уверен, что надо так*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icecream-menu-item {
    list-style: none;
    height: 406px;
    width: 294px;
    border: 1px solid transparent;
    text-align: center;
}

.icecream-menu-item img {
    border-radius: 50%;
    background-position: center;
    background-color: darkorange;
    margin-top: 7px;
}

.icecream-menu-list li:hover,
.icecream-menu-list li:focus {
    background-color: rgba(255, 255, 255, 0.3);
    height: 406px;
    width: 294px;
    border-radius: 5px;
}

.catalog-price {
    display: inline;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: relative;
    bottom: 60px;
    right: 55px;
}

.catalog-price .min-font {
    font-size: 30px;
    font-weight: 700;
}

.icecream-menu-list p {
    text-align: center;
    margin: 0;
}

.catalog-underline {
    line-height: 22px;
    margin: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 40px;
}

/* Кнпока */

.icecream-menu-list .btn-orange {
    display: none;
}

.icecream-menu-list li:hover .btn-orange {
    display: block;
    position: relative;
    bottom: 18px;
    left: 50px;
}

/* Пагинация */

.pagination-list {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    margin-right: 60px;
    justify-content: flex-end;
}

.page-1 {
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 26px;
    width: 26px;
}
.page-1:hover {
    color: black;
}

.pagination-list a {
    display: block;
    text-decoration: none;
    height: 26px;
    width: 26px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
}

.pagination-list a:not(.page-1) {
    color: white;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.popup {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -238px;
    width: 478px;
    height: 442px;
    padding: 21px 25px 22px 24px;
    background-color: #f8f7f4;
    border-radius: 10px;
}

.popup h2 {
    color: black;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 24px;
}

.popup input {
    width: 268px;
    height: 44px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #d3d3d2;
    border-radius: 10px;
    color: #d3d3d2;
    font-size: 16px;
    line-height: 24px;
}

.popup textarea {
    width: 430px;
    height: 155px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #d3d3d2;
    border-radius: 10px;
    color: #d3d3d2;
    font-size: 16px;
    line-height: 24px;
}

.popup button {
    margin-left: 290px;
    width: 138px;
    height: 46px;
}
