body {
    padding: 0;
    background-color: #849d8f;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
}

.container {
    padding-left: 27px;
    padding-right: 27px;
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

main .underline:hover,
main .underline:focus {
    border-bottom: 1px solid #ffbc9e;
    opacity: 0.3;
}

.svg-sprite {
    display: none;
}

/*Стандартная оранжевая кнопка*/
.btn-orange {
    width: 189px;
    height: 46px;
    color: white;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
    text-align: center;
}

.btn-orange:hover,
.btn-orange:focus {
    outline: 0;
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px #ac1000;
}

.btn-orange:active {
    box-shadow: inset 0 2px 2px #ac1000;
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}

/* HEADER */

.header-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-top: 10px; */
}

.header-main {
    padding-top: 10px;
}

.main_logo {
    z-index: 500;
}

/*Все акт. элементы строки*/
.menu-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    padding-top: 0px;
    z-index: 2;
}

.menu-nav li {
    list-style: none;
}

.menu-nav a {
    color: inherit;
}

/*Три ссылки*/
.menu-list {
    display: flex;
    justify-content: space-between;
    /* align-self: center; */
    align-items: center;
    min-width: 352px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    box-sizing: content-box;
    padding-left: 5px;
    margin: 0;
}

.menu-list-item {
    padding-bottom: 10px;
    margin-left: 5px;
}

/*Белая кнопка ссылки*/
.menu-list-link {
    display: block;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 20px;
}

.menu-list-link:hover,
.menu-list-link:focus {
    color: black;
    max-height: 32px;
    background-color: white;
    box-sizing: content-box;
    padding: 7px 13px;
}

/* Описание выпадающего меню:*/
.menu-sub-list {
    display: none;
    position: absolute;
    color: black;
    background-color: #f8f7f4;
    padding-left: 0;
    margin-top: 3px;
    height: 171px;
    width: 143px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.menu-list-item:first-child:hover .menu-sub-list,
.menu-list-item:first-child:focus .menu-sub-list {
    display: block;
}

.menu-sub-list li {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.menu-sub-list li:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
}

.menu-sub-list li:first-child:hover,
.menu-sub-list li:first-child:focus {
    background-color: #fbded7;
}

.menu-sub-list a:hover,
.menu-sub-list a:focus {
    background-color: #fbded7;
}

.menu-sub-list a:active {
    background-color: #f6b5a5;
}

.menu-sub-list a {
    display: block;
    text-decoration: none;
    padding: 6px 17px 6px 21px;
}

/*Три кнопки*/
.menu-forms {
    display: flex;
    align-self: flex-start;
    margin: 0;
    margin-top: 15px;
    min-width: 245px;
    position: relative;
}

.menu-forms li {
    margin-left: 10px;
}
/*Кнопка Поиск*/
.btn-search {
    height: 32px;
    width: 32px;
    border: 0px solid transparent;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    padding-bottom: 15px;
}

.btn-search:hover,
.btn-search:focus {
    background-color: white;
}

.svg-search {
    position: relative;
    top: 7px;
    fill: #ffffff;
}

.btn-search:hover .svg-search,
.btn-search:focus .svg-search {
    fill: black;
}

/*Окно поиска*/
.modal-search {
    display: none;
    position: absolute;
    right: 210px;
    top: 40px;
    width: 341px;
    height: 84px;
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 7px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.btn-search:hover + .modal-search,
.btn-search:focus + .modal-search {
    display: block;
}

.modal-search input {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    box-sizing: border-box;
    padding: 15px;
    width: 311px;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

/*Кнопка Вход*/
.btn-login {
    color: white;
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    width: 92px;
    border: none;
    border-radius: 15px;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.btn-login span {
    position: relative;
    bottom: 5px;
}

.btn-login:hover,
.btn-login:focus {
    background-color: white;
    color: black;
}

.svg-enter {
    fill: white;
}

.btn-login:hover .svg-enter,
.btn-login:focus .svg-enter {
    fill: black;
}

/*Окно входа*/
.modal-login {
    display: none;
    position: absolute;
    right: 110px;
    top: 40px;
    width: 280px;
    height: 214px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.btn-login:hover + .modal-login,
.btn-login:focus + .modal-login {
    display: block;
}

.modal-login input {
    width: 241px;
    height: 44px;
    box-sizing: border-box;
    padding: 19px 16px 19px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Кнопка и две ссылки*/
.login-active {
    display: flex;
    justify-content: space-between;
    width: 242px;
    color: black;
    font-size: 13px;
    line-height: 24px;
}

.login-active ul {
    padding: 0;
    margin: 0;
}

.login-active button {
    width: 100px;
    height: 44px;
}

/*Кнопка Корзина*/

.btn-cart-empty {
    height: 32px;
    width: 100px;
    font-size: 14px;
    line-height: 16px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-align: center;
}

.btn-cart-empty span {
    position: relative;
    bottom: 5px;
}

.btn-cart-empty:hover,
.btn-cart-empty:focus {
    background-color: white;
    color: black;
}

.btn-cart-empty:hover + .modal-cart,
.btn-cart-empty:focus + .modal-cart {
    display: block;
}

.btn-cart-empty .svg-cart {
    fill: white;
}

.btn-cart-empty:hover .svg-cart,
.btn-cart-empty:focus .svg-cart {
    fill: black;
}

.empty-label {
    height: 111px;
}

.empty-label span {
    position: relative;
    top: 50%;
    left: calc(50% - 144px);
    display: inline-block;
    font-size: 24px;
    color: gray;
    font-style: italic;
}

/*Полная корзина*/
.btn-cart {
    height: 32px;
    width: 117px;
    font-size: 14px;
    line-height: 16px;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 6px 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-cart:hover .svg-cart,
.btn-cart:focus .svg-cart {
    fill: black;
}

.btn-cart span {
    position: relative;
    bottom: 5px;
}

.svg-cart {
    fill: black;
}

/* .btn-cart:hover,
.btn-cart:focus {
    background-color: white;
    color: black;
} */

/*Окно корзины*/
.modal-cart {
    display: none;
    position: absolute;
    top: 40px;
    right: 00px;
    box-sizing: border-box;
    width: 540px;
    min-height: 242px;
    font-size: 13px;
    line-height: 16px;
    color: black;
    padding: 20px 15px 18px 16px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.btn-cart:hover + .modal-cart,
.btn-cart:focus + .modal-cart {
    display: block;
}

.modal-cart-list,
.modal-cart-item p {
    margin: 0;
    padding: 0;
}

.modal-cart-list {
    border-bottom: 1px solid #cacac7;
    min-height: 110px;
}

.modal-cart-item-1,
.modal-cart-item-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.modal-cart-item-1 {
    margin-bottom: 20px;
}

.cart-delete {
    width: 11px;
    height: 11px;
    margin-right: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.cart-delete::before,
.cart-delete::after {
    position: absolute;
    top: 7px;
    content: "";
    background-color: black;
    width: 1px;
    height: 12px;
}

.cart-delete::before {
    transform: rotate(45deg);
}

.cart-delete::after {
    transform: rotate(-45deg);
}

.preview {
    margin-right: 14px;
    background-color: yellow;
    border-radius: 50%;
}

.cart-item-description {
    margin: 0;
    margin-right: 32px;
    width: 216px;
    min-height: 13px;
}

.cart-item-price {
    margin: 0;
    width: 93px;
    min-height: 13px;
    margin-right: 29px;
}

.cart-item-price span {
    color: #999999;
}

.modal-cart-item > span {
    width: 49px;
    min-height: 13px;
}

.modal-cart-footer {
    height: 93px;
    text-align: right;
    border: 1px solid transparent;
}

.cart-total-price {
    margin: 16px 0 14px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}

.modal-cart-footer btn {
    height: 44px;
    width: 170px;
}

/*Время работы*/

.schedule {
    position: absolute;
    right: 0;
    top: 65px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    text-align: right;
    min-width: 168px;
    min-height: 40px;
    margin-bottom: 10px;
    z-index: 2;
}

.schedule a {
    display: inline-block;
    margin-top: 4px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
}

/* MAIN */

.carousel {
    position: relative;
    bottom: 0px;
    height: 570px;
    z-index: 1;
}
все нормально
/* Карусель */
.site-wrapper {
    position: absolute;
    /* top: 0; */
    /* min-width: 940px; */
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png");
    background-repeat: no-repeat;
    background-position: top center;
    /* box-shadow: 10px 10px 10px 15px white; */
    /* transition: background-image 0.5s ease, background-color 0.5s ease; */
    /* min-height: 570px; */
}

.site-wrapper::before,
.site-wrapper::after {
    position: absolute;
    content: "";
    visibility: hidden;
}

.site-wrapper,
.site-wrapper::before,
.site-wrapper::after {
    position: absolute;
    top: -78px;
    left: 78px;
    z-index: -15;
    height: 700px;
    min-width: 1200px;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before {
    background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
    background-image: url("../img/slider-item3.png");
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Текст */
.slide-title {
    position: relative;
    top: 72px;
    right: 77px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide-button {
    position: relative;
    top: 78px;
    right: 81px;
    display: inline-block;
    padding: 8px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls {
    position: absolute;
    bottom: -61px;
    left: -50px;
    z-index: 20;
    font-size: 0;
}

.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
    /* background-color: #8996a6; */
    background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
    /* background-color: #9d8b84; */
    background-image: url("../img/slider-item3.png");
}

#product-2:checked body {
    background-color: white;
}

/* CARDS-BONUS */

.cards-bonus .card {
    border: 0 solid transparent;
    border-radius: 15px;
    min-height: 229px;
    width: 560px;
    padding: 17px 26px 24px 19px;
    font-size: 18px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 830px 450px;
    box-sizing: border-box;
    background-color: #d35376;
    background-repeat: repeat-y;
    background-position: center;
    background-size: 150%;
    overflow: hidden;
    z-index: 2;
}

.cards-bonus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card h2 {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 15px;
}

.card p {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 42px;
}

.card-one .btn-orange {
    max-width: 165px;
    margin-left: 352px;
}

.card-two .btn {
    width: 189px;
    margin-left: 333px;
}

.card-one {
    background-image: url("../img/rasp_back.jpg");
}

.card-two {
    background-image: url("../img/choc_back.jpg");
}

/* ICECREAM SORTS */

.icecream-bonus {
    min-height: 330px;
    position: relative;
    bottom: 6px;
}

.icecream-bonus .container {
    width: 1230px;
}

.icecream-sorts {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
}

.icecream-sorts-item {
    position: relative;
    list-style: none;
    width: 294px;
    text-align: center;
    padding-bottom: 70px;
    z-index: 100;
}

.icecream-sorts-item::before {
    display: none;
    background-color: white;
    content: "";
    position: absolute;
    z-index: -1;
    left: -5px;
    width: 294px;
    height: calc(100% + 0px);
    opacity: 0.3;
    border-radius: 10px;
}

.icecream-sorts-item:hover::before,
.icecream-sorts-item:focus::before {
    display: block;
}

.icecream-sorts-item img {
    border-radius: 50%;
    background-color: #feebc9;
    background-position: center;
    margin-top: 7px;
    z-index: 1;
}

/* HIT */
.icecream-sorts-item::after {
    content: " ";
    background-image: url(../img/hit.jpg);
    background-repeat: no-repeat;
    background-color: white;
    position: absolute;
    height: 63px;
    width: 63px;
    top: 5px;
    left: 15px;
    border-radius: 50%;
}

.price {
    display: inline;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    top: 215px;
    left: 13px;
}

.min-font {
    font-size: 30px;
    font-weight: 700;
}

.item-description {
    position: relative;
    top: 4px;
    line-height: 22px;
    margin: 5px;
}

.icecream-sorts-item .btn-orange {
    display: none;
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.icecream-sorts-item:hover .btn-orange {
    display: block;
}

/* DESCRIPTION */
.description {
    position: relative;
    bottom: 8px;
    min-height: 306px;
    margin-top: -30px;
    box-sizing: border-box;
    padding: 25px 32px 27px 21px;
    border-radius: 15px;
    background-image: url("../img/wayfer_back.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: #ffe7e1;
    color: black;
}

.description h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    letter-spacing: normal;
    /* margin-bottom: 10px; */
}

.about-us {
    display: flex;
    max-width: 1092px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.short {
    max-width: 476px;
    padding: 0;
    margin: 0;
    padding-left: 56px;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: -6px;
    position: relative;
}

.short p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

.short:first-child:after {
    content: url("../img/ici.png");
    position: absolute;
    left: 0;
    top: -3px;
    width: 49px;
    height: 49px;
}

.short:nth-child(2):after {
    content: url("../img/cow.png");
    position: absolute;
    left: 0;
    top: -3px;
    width: 49px;
    height: 49px;
}

.short:nth-child(3)::after {
    content: url("../img/leaf.png");
    position: absolute;
    left: 0;
    top: -1px;
    width: 49px;
    height: 49px;
}

.short:last-child:after {
    content: url("../img/term.png");
    position: absolute;
    left: 0;
    top: -1px;
    width: 49px;
    height: 49px;
}

/*Две карточки*/
.additional-cards .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 31px;
}

.news-card,
.subscribe-card {
    border-radius: 15px;
    height: 219px;
    width: 560px;
    box-sizing: border-box;
    color: black;
}

.news-card {
    padding: 23px 250px 50px 20px;
    background-image: url("../img/straw_back.jpg");
    background-color: white;
}

.news-card h2 {
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 22px;
}

.news-card p {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.news-card a {
    color: black;
}

.news-card a:hover {
    color: #e84d37;
}

.subscribe-card {
    padding: 6px;
    background-image: url("../img/post_back.jpg");
    background-position: center;
    background-color: whitesmoke;
}

.subscribe-card .face-color {
    background-color: #f8f7f4;
    background-position: center;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 27px 19px 0px 21px;
    height: 177px;
}

.subscribe-card p {
    margin: 0;
    line-height: 22px;
    margin-bottom: 32px;
}

.subscribe-card input {
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    width: 368px;
    height: 20px;
    font-size: 16px;
    padding: 11px;
}

.subscribe-card .btn-orange {
    box-sizing: border-box;
    margin-left: 14px;
    height: 44px;
    width: 138px;
}

.subscribe-card-action {
    display: flex;
    align-items: center; /* Для разнообразия*/
    height: 50px;

    /* Жёсткое позиционирование:
    margin-top: 43px;
    margin-bottom: 32px;
*/
}

/* Карта */
.map {
    position: relative;
    margin: 40px auto 0;
    background-image: url("../img/map.png");
    margin-bottom: 2px;
}

.metainf {
    position: absolute;
    padding: 28px 25px 31px 25px;
    top: 66px;
    right: 120px;
    width: 302px;
    height: 305px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    line-height: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: left;
    z-index: 6;
}

.metainf p {
    font-size: 14px;
    line-height: 20px;
}

.adress {
    padding: 0;
    margin: 0;
}

.adress-bold {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 19px;
}

.phone a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 0px;
}

.phone {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 26px;
}

.metainf button {
    width: 252px;
    height: 44px;
    z-index: 1;
}

/* FOOTER */
.footer-line {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
    min-height: 55px;
}

.main-footer li {
    list-style: none;
}
/* Иконки соц. сетей*/
.social-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    padding-top: 26px;
    min-width: 186px;
    min-height: 38px;
}

.social-list-item {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
    background-position: center;
    cursor: pointer;
    position: relative;
}

.social-list-item:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    height: 31px;
    width: 31px;
    background-color: #849d8f;
    background-position: center;
    border-radius: 50%;
    z-index: -1;
}

.social-list-item:hover,
.social-list-item:focus {
    opacity: 0.7;
}

.social-link {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 3px;
    left: 3px;
    height: 32px;
    width: 32px;
    opacity: 1;
}

.social-link:hover,
.social-link:focus {
    opacity: 10;
}

.social-link:active {
    fill: #e9e9e9; /*Вроде то, но не работает*/
}

.twitter {
    background-image: url("../img/twitter.svg");
}

.inst {
    background-image: url("../img/inst.svg");
}

.fb {
    background-image: url("../img/fb.svg");
}

.vk {
    background-image: url("../img/vk.svg");
}

/*Ссылки в центре*/
.info-list {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    margin-left: 22px;
    max-width: 312px;
    min-height: 44px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.info-list li:nth-child(2n) {
    margin-left: 30px;
}

.info-list a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 18px;
}

.info-list a:hover,
.info-list a:focus {
    color: #ffbc9e;
}

.info-list li:nth-child(3) {
    min-width: 99px;
    margin-right: 12px;
}

.suppliers {
    font-weight: bold;
}

.suppliers::before {
    position: absolute;
    top: 26px;
    left: -22px;
    content: url("../img/heart_ico.png");
    width: 15px;
    height: 13px;
}

/*Логотип*/
.footer-logo {
    height: 61px;
    width: 200px;
    padding-top: 8px;
    margin-right: 13px;
}

.footer-logo img {
    height: 39px;
    width: 125px;
}

.footer-logo a {
    text-decoration: none;
}

.html-font {
    color: white;
}

.html-font:hover,
.html-font:focus {
    color: #ffbc9e;
}

.footer-logo p {
    margin: 0;
    margin-top: 3px;
    margin-left: 7px;
    font-size: 12px;
    line-height: 18px;
}

/* -------CATALOG-------  */
/*Находимся на странице*/
.current {
    color: white;
    background-color: #d07058;
    box-sizing: content-box;
    padding: 7px 13px;
}

.current:hover,
.current:focus {
    color: white;
    background-color: #d07058;
    box-sizing: content-box;
    padding: 9px 13px;
}

.menu-sub-list .current_p {
    color: white;
    background-color: #d07058;
}

.menu-sub-list .current_p:hover,
.menu-sub-list .current_p:focus {
    color: white;
    background-color: #d07058;
}
/*Хлебные крошки*/
.sub-navigation {
    margin-top: 24px;
}

.sub-navigation-list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
}

.sub-navigation-list li:not(:first-child),
.sub-navigation-list > span {
    margin-left: 7px;
}

.sub-navigation-list a {
    color: white;
    text-decoration: none;
}

.sub-navigation-list a:hover,
.sub-navigation-list a:focus {
    color: #ffbc9e;
}

.sub-navigation h2 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 25px;
}

/*Фильтры*/

.filters li {
    list-style: none;
}

.filters .container {
    max-width: 1200px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
}

.filters legend {
    margin: 0;
    margin-left: 13px;
    font-size: 14px;
    font-family: inherit;
    color: white;
}
/*Сортировка*/
.sort-field {
    border: none;
    padding-left: 0;
    width: 193px;
    margin: 0;
}

.sort-field legend {
    margin: 0;
    margin-left: 13px;
    font-size: 14px;
    font-family: inherit;
    color: white;
}

.sort-view {
    position: relative;
    background-color: #a9bab0;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 37px;
    width: 193px;
}

.sort-view::after {
    position: absolute;
    content: url("../img/icon-down-dir.svg");
    width: 10px;
    height: 11px;
    top: 8px;
    right: 15px;
    /* transform: translateY(-50%);
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: white transparent transparent transparent; */
}

.sort-view select {
    padding-left: 16px;
    color: white;
    font-family: inherit;
    font-size: 16px;
    height: 37px;
    width: 193px;
    border-radius: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    /* -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; */
}

.sort-view select:hover,
.sort-view select:focus {
    color: black;
}

.sort-options {
    position: relative;
    background: transparent;
    -webkit-appearance: none;
}

.sort-options::after {
    content: url("../img/icon-down-dir.svg");
    position: absolute;
    top: 0;
    right: 0px;
    height: 11px;
    width: 10px;
}

/*Фильтр стоимости*/
.price-volume {
    border: none;
    width: 219px;
    height: 57px;
    padding-left: 0;
}

.range {
    position: relative;
    width: 220px;
    height: 37px;
    background-color: #aabbb1;
    border-radius: 50px;
}

.range-line {
    position: absolute;
    top: 15px;
    left: 19px;
    width: 176px;
    height: 5px;
    background-color: #d1dad3;
}

.range-line-inner {
    position: absolute;
    top: 0;
    left: 33px;
    width: 88px;
    height: 6px;
    background-color: #f8f7f4;
}

.label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    top: -7px;
}

.dot {
    position: relative;
    top: 8px;
    left: 8px;
    width: 4px;
    height: 4px;
    background-color: #aabbb1;
    border-radius: 50%;
}

.label-left {
    left: -20px;
}

.label-right {
    left: 78px;
}

/*Жирность*/
.fat-field {
    border: none;
    max-width: 414px;
    padding-left: 0;
    margin: 0;
}

.fat-radio-list {
    font-size: 16x;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    height: 37px;
    width: 414px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 9px 15px 7px 15px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 18px;
}

.fat-radio-list li {
    position: relative;
    padding-left: 32px;
}

/*Радио кнопки*/

.fat-radio {
    cursor: pointer;
}

.fat-radio input {
    display: none;
}

.radio-indicator {
    content: url(/img/radio-off.svg);
    position: absolute;
    left: 1px;
    top: -2px;
    height: 22px;
    width: 22px;
}

.zero-per input[type="radio"]:checked + .radio-indicator,
.ten-per input[type="radio"]:checked + .radio-indicator,
.lt30-per input[type="radio"]:checked + .radio-indicator,
.gt30-per input[type="radio"]:checked + .radio-indicator {
    content: url(/img/radio-on.svg);
}

/*Фильтр Наполнители*/
.fill-field {
    border: none;
    padding-left: 0;
    max-width: 707px;
    margin: 0;
}

.fill-field legend {
    padding-top: 1px;
}

/*Список чекбоксов*/
.filling-checkbox-list {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    padding: 8px 24px 7px 11px;
    border-radius: 30px;
    margin: 0;
    box-sizing: border-box;
    height: 35px;
    width: 703px;
    background-color: rgba(255, 255, 255, 0.3);
}

.filling-checkbox-list li:not(.first) {
    margin-left: 15px;
}

.filling-checkbox-list li {
    padding-left: 31px;
    position: relative;
}

.fill-checkbox {
    cursor: pointer;
    margin-left: 4px;
}

.fill-checkbox input {
    display: none;
}

/*Пустой чекбокс*/
.fill-checkbox-indicator {
    content: url(/img/checkbox-off.svg);
    position: absolute;
    top: 0;
    left: 3px;
    height: 20px;
    width: 20px;
}

/* Включение чекбокса */
.chock-select input[type="checkbox"]:checked + .fill-checkbox-indicator,
.sugar-select input[type="checkbox"]:checked + .fill-checkbox-indicator,
.fruits-select input[type="checkbox"]:checked + .fill-checkbox-indicator,
.syrup-select input[type="checkbox"]:checked + .fill-checkbox-indicator,
.jam-select input[type="checkbox"]:checked + .fill-checkbox-indicator {
    content: url(/img/checkbox-on.png);
    width: 23px;
    height: 20px;
}

/*Кнопка применить*/
.btn-filter {
    align-self: flex-end;
    position: relative;
    bottom: 10px;
    color: white;
    width: 144px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: inherit;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px auto 13px;
    cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
    color: black;
    background-color: white;
}

.btn-filter:active {
    border: none;
    box-shadow: inset 0 1px 2px #8a8b8a;
}

/* Список мороженого */

.icecream-menu-list {
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px; /*Не уверен, что надо так*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-bottom: 51px;
}

.icecream-menu-item {
    list-style: none;
    width: 284px; /*По макету 293*/
    border: 1px solid transparent;
    text-align: center;
    position: relative; /*Задал только для того, чтобы начинать отсчёт*/
    margin-bottom: 29px;
}

.icecream-menu .container {
    max-width: 1200px;
    padding: 0 17px;
}

.icecream-menu-item img {
    border-radius: 50%;
    background-position: center;
    background-color: darkorange;
    margin-top: 7px;
}
/* Белый ховер */
.icecream-menu-item::before {
    display: none;
    background-color: white;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 00px;
    width: 284px; /*По макету 293*/
    height: calc(100% + 70px);
    /* calc(100% + высота кнопки + отступ до кнопки и после) */
    opacity: 0.3;
    border-radius: 10px;
}

.icecream-menu-item:hover::before,
.icecream-menu-item:focus::before {
    display: block;
}

.icecream-menu-item:hover {
    z-index: 10;
}

.catalog-price {
    position: absolute;
    top: 218px;
    left: 7px;
    display: inline;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.rouble {
    margin-left: -7px;
}

.catalog-price .min-font {
    font-size: 30px;
    font-weight: 700;
}

.catalog-description {
    position: relative;
    max-width: 274px;
    line-height: 22px;
    top: 5px;
    text-align: center;
    margin: 5px;
    padding: 0 10px;
}

/* Кнопка */

.icecream-menu-item .btn-orange {
    display: none;
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -55px;
    z-index: 1;
}

.icecream-menu-list li:hover .btn-orange {
    display: block;
}

/* Пагинация */

.pagination-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    list-style-type: none;
    margin: 0px;
    padding-bottom: 30px;
    padding-right: 25px;
}

.pagination-list li {
    margin-left: 3px;
    position: relative;
}

.page-1 {
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 26px;
    width: 26px;
}

.page-1:hover {
    color: black;
}

.pagination-list a {
    display: block;
    text-decoration: none;
    height: 26px;
    width: 26px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
}

.pagination-list a:not(.page-1) {
    color: white;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.pagination-list li:last-child::after,
.pagination-list li:first-child::before {
    content: "";
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 7px;
    height: 12px;
    width: 7px;
    z-index: 10;
}

.pagination-list li:last-child::after {
    right: -26px;
}

.pagination-list li:first-child::before {
    left: -26px;
    transform: rotate(180deg);
    opacity: 0.2;
}
/* POPUP */
.popup {
    display: none;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    box-sizing: border-box;
    position: fixed;
    top: calc(50% - 238px);
    left: 50%;
    z-index: 200;
    margin-left: -238px;
    width: 478px;
    height: 442px;
    padding: 21px 25px 22px 24px;
    background-color: #f8f7f4;
    border-radius: 10px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.3);
}

.popup-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.popup h2 {
    color: black;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 24px;
}

.popup input {
    width: 267px;
    height: 44px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    line-height: 24px;
}

.popup-text {
    max-width: 155px;
}

.popup textarea {
    max-width: 430px;
    max-height: 155px;
    min-width: 430px; /*При обычном всё растягивается*/
    min-height: 155px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 15px;
}

.popup button {
    margin-left: 290px;
    width: 139px;
    height: 44px;
}

h2 + .popup-close {
    height: 17px;
    width: 17px;
    position: absolute;
    left: 443px;
    top: 18px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.popup-close::before,
.popup-close::after {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 18px;
    height: 1.5px;
    background-color: black;
}

.popup-close::before {
    transform: rotate(45deg);
}

.popup-close::after {
    transform: rotate(-45deg);
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
